@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans.woff2) format('woff2'), url(../fonts/OpenSans.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.woff2) format('woff2'), url(../fonts/OpenSans-Light.woff) format('woff');
    font-weight: 300;  /* need to add font weight of 300 since it's a light font */
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Semibold.woff2) format('woff2'), url(../fonts/OpenSans-Semibold.woff) format('woff');
    font-weight: 600; /* need to add font weight of 600 since it's a semi-bold font */
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.woff2) format('woff2'), url(../fonts/OpenSans-Bold.woff) format('woff');
    font-weight: 700; /* need to add font weight of 700 since it's a bold font */
}

body {
    width: 100%;
    height: 100vh; /* use viewport height in order to remove the all the default margin set for the body (cannot use 100%) */
    margin: 0;
    background-image: radial-gradient(circle, #1c7fc2 0%, #009cdc 28%, #0d9ade 32%, #011844 100%); /* use different shades of blue to get the gradient effect for the background */
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: filter 0.5s; /* make a transition from a blurred effect to a normal visual smoothly */
    filter: blur(15px); /* add visual effects for smoothly refreshing the page */
}

.weather {
    width: 80%;
    height: 100%; /* height will be inherited from the height of the body (100vh) */
    margin: 0 auto; /* add margin zero auto to centerline this div */
    padding: 20px 0; /* add 20px padding vertically and 0px padding horizontally  */
    box-sizing: border-box; /* add border box so that the padding does not get added to the size of the element */
    white-space: nowrap;
}

.search_area {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* SVG icon */
.search_button {
    width: 10%;
    height: 50px;
    font-size: 10px;
    color: inherit; /* by default the input doesn't inherit the color of the parent element */
    box-shadow:5px 5px 50px white;
    background-color: rgba(255, 255, 255, 0.15); /* white color with some transparancy */
    border-color: white;
    border-radius: 10px;
    margin-left: -10.5%;
}

.weather_search {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15); /* white color with some transparancy */
    font-size: 30px;
    padding: 10px;
    color: inherit; /* by default the input doesn't inherit the color of the parent element */
    box-shadow:5px 5px 50px white;
    border: none; /* get rid of the deault border (every input has a default border) */
    border-radius: 10px;
}

.weather_search::placeholder { /* use psuedo element placeholder to get white text for 'Your City' search text */
    color: #fff;
}

.weather_today { /* provide space distribution between items on one line (one "box" for each of the 3 items) */
    display: flex; 
    flex-wrap: wrap; /* this is needed to fix the temperature from being cut off by making it responsive */
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.weather_image {
    width: 30vmin; /* v-min is relative unit of measurement */
    align-self: center; /* fix the shape of the image of the sun */
    margin-left: 25px;
    margin-top: 30px;
}

.weather_city {
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
}

.weather_day { /* day of the week */
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400; /* font weight of 300 already set for the whole web-page */
}

.weather_indicator::before { /* use pseudo element before to place the indicator icons 'before' or in front of humidity, wind, and pressure values */
    content: ''; /* very psuedo element must have 'content' in order to make it work */
    display: inline-block;
    vertical-align: middle;
    width: 30px; /* also need to set the width and */
    height: 30px; /* the height, or else the icons won't show up */
    background-size: cover; /* need to use background cover so that each indicator to takes up the entire space of the psudeo element */
    margin-right: 10px;
}

.weather_indicator-humidity::before { /* display the indicator icon for humitidy */
    background-image: url(../images/humidity.png);
}

.weather_indicator-wind::before { /* display the indicator icon for wind */
    background-image: url(../images/wind.png);
}

.weather_indicator-pressure::before { /* display the indicator icon for pressure */
    background-image: url(../images/pressure.png);
}

.weather_temperature {
    font-size: 10vw; /* increase the font size for the main temp reading */
    margin-top: 30px;
}

.weather_forecast {
    width: 100%;
    text-align: center;
    display: flex; /* use flex to display the five day forecast in one line */
    flex-wrap: wrap; /* use flex-wrap to make the page more responsive (i.e when decreasing the size of the web-page or when using mobile) */
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 30px;
}

.weather_forecast_icon {
    max-width: 50%; /* decrease the size of each icon for the five day forecast by making them 50% out of the width of one article  */
}

.weather_forecast_item {
    background-color: rgba(255, 255, 255, 0.2); /* background is white with some transparency */
    margin: 0 10px 10px; /* add some margin between the articles (10px left/right and 10px at the bottom)  */
    padding: 30px 5px 20px; /* 30px padding at the top, 5px padding on the left/right, and 20px padding at the bottom */
    box-sizing: border-box; /* don't want the padding to be added to the size of the element */
    min-width: 150px; /* specify the width of each article */
    width: calc(20% - 20px); /* adjust for previous padding (10px+10px) by subtracting 20px from 20% (100% / 5 articles) */
    flex-grow: 1; /* this is needed to make last element take up the whole empty space of the div */
    box-shadow: 2px 5px 10px white;
    border-radius: 10px;
}

.weather_details {
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    padding: 20px
}

footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 50px;
}
  